@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.DocLang.Error;
}

<h1 class="text-danger">@Resources.DocLang.ErrorTitle</h1>
<h2 class="text-danger">@Resources.DocLang.ErrorContent</h2>

