@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.DocLang.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@Resources.DocLang.LockedOutTitle</h1>
    <h2 class="text-danger">@Resources.DocLang.LockedOutContent</h2>
</hgroup>
